<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Latest Mars News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Top section -->
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <hr>
        <!-- Latest Mars News Seciont -->
        <div class="row" id="Latest Mars News">
            <div class="col-md-12">
                <h2>Latest Mars News</h2>
                <h4>Title: {{ result.news_title }}</h4>
                <p>Paragraph: {{ result.news_paragraph }}</p>
            </div>
        </div>
        <hr>
        <!-- Image and Table -->
        <div class="row" id="Featured Image and Mars Facts">
            <div class="col-md-8 box">
                <h2>Featured Mars Image</h2>
                <img src={{result.featured_image_url}} alt="Featured image">
            </div>
            <div class="col-md-4 box">
                <h3>Mars Facts</h3>
                {{result.table_html | safe}}
            </div>
        </div>
        <hr>
        <!-- 4 Images and Titles -->
        <div class="row" id="Hemispheres">
            {% for result in result.title_img_list %}
            <div class="col col-6 box">
                <div class="boxmargin">
                    <img src={{result.img_url}} alt={{result.img_url}}>
                    <h3>{{result.title}}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>